/* FOOTER */
section.footer {
  width: 100%;
  background: #212121;
  position: relative;
  display: block;
}
section.footer #logo {
  width: 100px;
  margin-left: 300px;
  position: absolute;
  display: block;
  margin-top: 60px;
}

section.footer ul {
  display: inline-block;
  position: relative;
  right: 20px;
  margin-left: 80px;
  margin-top: 20px;
}
section.footer ul li {
  list-style-type: none;
  display: block;
  padding: 10px;
  margin: 5px 0 20px 0;
  font-size: 0.8rem;
}
section.footer ul.pages li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #E0E0E0;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.footer ul.pages li a:hover {
  color: black;
  background-color: #F9A825;
  border-radius: 5%;
  padding: 10px;
}
section.footer ul.socialIcons li {
  position: relative;
  font-size: 25px;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: white;
}
section.footer ul.socialIcons li:hover {
  background: #00E5FF;
  border-radius: 50%;
}
section.footer ul.socialIcons i {
  color: #E0E0E0;
}
section.footer ul.socialIcons i.fa-facebook { 
  padding: 0 3px;
}

section.footer .center {
  position: absolute;
  bottom: 0.1%;
  left: 49%;
  padding: 10px;
}
section.footer .center h6 {
  color: white;
}
section.footer .center img {
  padding-top : 5px;
  width: 85px;
  left: -20px;
}