/* NAVIGATION */
section.navigation {
  background: #212121;
  position: relative;
  display: block;
  width: 100%;
}
section.navigation #logo {
  width: 170px;
  height: 60px;
  margin: 17px 0;
  padding-left: 50px;
  position: relative;
  display: inline-block;
}

section.navigation ul.menu {
  right: 20px;
  margin-top: 25px;
  display: inline-block;
  position: absolute;
}
section.navigation ul li.userLink {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 5px 0 20px 0;
}
section.navigation ul li.userLink a {
  text-decoration: none;
  text-transform: uppercase;
  color: #E0E0E0;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section.navigation ul li.userLink a:hover {
  color: black;
  background-color: #00E5FF;
  border-radius: 5%;
  padding: 10px;
}

.logout {
  display: none;
}

.register a {
  border: 1px solid #00E5FF;
  padding: 15px;
}
.register a:hover {
  background-color: #00E5FF !important;
  border: 1px solid #212121;
}

/*dropdown menu */

ul.menu li.specialNav {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px 0 20px 0;
  color: #E0E0E0;
  font-weight: bold;
  border-bottom: 4px solid #212121;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
ul.menu li.specialNav:hover {
  padding-bottom: 35px;
  border-bottom: 4px solid #00E5FF;
}

nav > ul > li {
  list-style: none;
  cursor: pointer;
}
ul.drop-menu {
  background: #212121;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 5px 10px 1px rgba(56, 56, 56, 0.7);
}
ul.drop-menu.menu1{
  position: absolute;
  top: 73px;
  left: -6px;
}
ul.drop-menu.menu2{
  position: absolute;
  top: 73px;
  left: 73px;
}
ul.drop-menu li {
  position: absolute;
  text-align: center;
  display: none;
  padding: 5px 20px 5px 5px;
  left: -17px;
}
ul.drop-menu li.top {
  border-bottom: 1px solid grey;
}
ul.drop-menu li a:last-child {
}
ul.drop-menu li a {
  text-decoration: none;
  color: #E0E0E0;
}
ul.drop-menu li a:hover {
  color: white;
}
li:hover > ul.drop-menu {
  perspective: 1000px;
}
li:hover > ul.drop-menu li {
  position: relative;
  display: block;
  opacity: 0;
  animation: dropmenu 0.3s ease-in-out forwards;
}

/* DROPDOWN EFFECT */

@keyframes dropmenu {
  0% {
      opacity: 0;
      transform: rotateY(-90deg) translateY(10px);
    }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
