* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

body {
  background: #f2f2f2;
}



/* CONTENT SECTION */
/* -------------- */
section.content {
  width: 95%;
  position: relative;
  color: #424242;

}
section.content h1{
  margin: 50px 0 50px 0;
  font-size: 1.5rem;
}
section.content #results {
  visibility: collapse;
}
section.content .film {
  margin: 40px 10px;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 240px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  padding: 10px;
}
section.content .film a {
  text-decoration: none;
}
section.content .film a img{
  position: relative;
  display: block;
  top: -40px;
  width: 100%;
  height: 278px;
  opacity: 1;
  transition: all 0.2s linear;
  border-radius: 8px 8px 0 0;
}
section.content .film a:hover img {
  opacity: 0.8;
  box-shadow: 0 10px 50px rgba(0,0,0,.32);
}

section.content .film a .filmTitle {
  color: #616161;
  transition: all 0.1s;
  position: relative;
  top: -35px;
  display: block;
  text-align: center;
  padding: 15px 0;
}
section.content .film a:hover .filmTitle {
  color: black;
}
section.content .film .filmDate {
  position: relative;
  display: block;
  top: -40px;
  float: right;
  font-size: 0.7rem;
  color: #757575;
}
section.content .film .filmDesc {
  position: relative;
  display: block;
  top: -25px;
  padding: 10px;
  font-weight: 300;
  font-size: 0.9rem;
  height: 85px;
  overflow: hidden;
}